# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Packages
*.egg
*.egg-info/
dist/
build/
eggs/
lib/
lib64/
parts/
sdist/
wheels/
pip-wheel-metadata/
*.dist-info/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Virtual environments
env/
venv/
.venv/
ENV/
venv.bak/
env.bak/

# Pyre type checker
.pyre/

# Mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pytest
.cache/
.pytest_cache/

# PEP 582; used by e.g. python's official packaging tools
__pypackages__/

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/
doc/source/_build

# Jupyter Notebook
.ipynb_checkpoints

# PyCharm
.idea/

# Flet specific
*.flet/
__pypackages__/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# Other editors and IDEs
.vscode/
